@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Poppins-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Poppins-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Poppins-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Poppins-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/OpenSans-Light.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/OpenSans_SemiCondensed-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/OpenSans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Segoe-UI";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Segoe-UI.ttf") format("opentype");
}
